<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/dropDownMenu.css" rel="stylesheet" />
    <link href="~/css/LoandingFilial.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/TelaPerfildeUsuario.css" rel="stylesheet" />
    <link href="~/css/Calendarios.css" rel="stylesheet" />
    <link href="~/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="~/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Buttons-1.6.2/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/ArcordionRelatorios.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/TelaLogin.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/datatables.min.js"></script>

    <script src="~/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    @*<script src="~/Buttons-1.6.2/js/dataTables.buttons.min.js"></script>*@

    <script src="~/Buttons-1.6.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Responsive-2.2.4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.pt-BR.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark   border-bottom box-shadow mb-3" id="navtop" style="background-color:darkseagreen;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestaoS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Equipamentoes" asp-action="Index"><img src="~/images/icons/icons8-engrenagem-30.png" /> Equipamento</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Filials" asp-action="Index"><img src="~/images/icons/icons8-companhia-30.png" /> Filial</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Salas" asp-action="Index"><img src="~/images/icons/icons8-escola-30.png" /> Sala</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle"><img src="~/images/icons/icons8-usuário-de-gênero-neutro-30 (1).png" /> Usuario</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="PerfilUsuarios" asp-action="Index">Perfil Usuario</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AcessoTipoUsuarios" asp-action="Index">Tipo Acesso</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="TipoUsuarios" asp-action="Index">Tipo Usuário</a></li>

                                        @*<li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                                </ul>
                                            </li>*@



                                    </ul>
                                </li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Locação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="" asp-controller="LocaEquipamentoes" asp-action="Index">Loc. Equipamentos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="LocaSalas" asp-action="Index">Loc. Salas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Devolucaos" asp-action="Index">Devolução</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Relatorios" asp-action="Index">Relatórios</a>
                        </li>

                    </ul>










                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - GestaoS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/BuscaListaSalaPorFilial.js"></script>
    <script src="~/js/QtdeEquipamentoDisponiveis.js"></script>
    <script src="~/js/UsuariosSemPerfil.js"></script>
    <script src="~/js/DataDeSalaDisponivel.js"></script>
    <script src="~/js/consultaCep.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({

                title: 'Usuários sem Perfil',
                html: true,
                content: '<p><a href="/SiteGestaoS/PerfilUsuarios/Create" >Clique aqui</a> para visualiza-lós.</p >'
            });
        });
    </script>
    <script src="~/js/dropdownmenu.js"></script>
    
    <script src="~/js/jquery.maskedinput.js"></script>
    <script src="~/js/tilt.jquery.min.js"></script>
    <script src="~/js/TrocarImagem.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script>
        $('#aguarde').hide();
    </script>
    @*<script>
        $(document).ready(function () {
            if (@TempData["QtdeSemPerfil"] == "") {
                $('#QtdePerfil').val(0);
            }
            else {
                var valor = @TempData["QtdeSemPerfil"];

                $('#QtdePerfil').val(valor);
        }
        });
    </script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
