@model GestaoS.Models.LocaEquipamento


@{
    ViewData["Title"] = "Delete";
}


<h3>Tem certeza que deseja apagar este registro?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Filial
        </dt>
        <dd class="col-sm-11">
            @ViewBag.IdFilial
        </dd>
        <dt class="col-sm-3">
            Sala
        </dt>
        <dd class="col-sm-11">
            @ViewBag.IdSala
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdEquipamento)
        </dt>
        <dd class="col-sm-11">
            @ViewBag.IdEquipamento
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Qtde)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DtFim)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.DtFim)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-11">
            @ViewBag.UserId
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TelResponsavel)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.TelResponsavel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Setor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fa fa-rotate-left fa-fw" aria-hidden="true"></i>Voltar a lista</a>
    </form>
</div>
