@model IEnumerable<GestaoS.Models.ViewModel.LocaSalaViewModel>

@{
    ViewData["Title"] = "Index";
}





<style>
    .table {
        white-space: nowrap;
        font-size: 14px;
    }
</style>

<h1>Locação de Sala </h1>

<p>
    <a asp-action="Create">Novo cadastro</a>
</p>
<table id="tabela" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Filial
            </th>
            <th>
                Sala
            </th>
            <th>
                Data Início
            </th>
            <th>
                Data Fim
            </th>
            <th>
                Responsável
            </th>
            <th>
                Tel.Responsável
            </th>
            <th>
                Setor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFilial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datainicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelResp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetorLocaSala)
                </td>
                <td>
                    <a class="btn btn-warning btnEdit btn-sm d-sm-inline " data-value="@item.IdLocaSala"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>|<a class="btn btn-danger btnDelete btn-sm" data-value="@item.IdLocaSala"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="ConteudoModal">



                </div>

            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="ConteudoModal">

                    @Html.Raw(TempData["msg"])


                </div>

            </div>

        </div>
    </div>
</div>


@*<div id="MenssagemLocacao" data-value="@ViewBag.Message"></div>*@
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            console.log("Iniciou - James");
            $(".btnEdit").click(function () {

                var id = $(this).data("value");

                console.log(id);

                $('#ConteudoModal').load('/SiteGestaoS/LocaSalas/Edit/' + id, function () {

                    $('#ExemploModalCentralizado').modal();


                     $(function () {
                     if('@TempData["msg"]' != "") {
                         $('#myModal').modal('show');
                         }
                     });

                    /////////////SALA POR FILIAL   /////////////////////////////


                    $(document).ready(function () {

                        $.ajax({
                            url: '/SiteGestaoS/LocaSalas/ObterListaLocacaoSalaEdit/',
                            type: "GET",
                            dataType: "json",
                            data: {
                                idLocacaoEdit: id
                            },
                            success: function (data) {

                                if (data.length > 0) {

                                    //for (var i = 0; i < data.length; i++) {



                                    $(data).each(function () {
                                        $("#IdSalaBusca").append($('<option value=0></option>', { value: this.ID }).html(this.Nome));
                                        //$("#IdSalaBusca").append($('<option></option>', { value: this.ID }).html(this.Nome));
                                    });

                                    //}

                                }
                            },


                            error: function (data) {
                                // em caso de erro...
                                console.log(error);
                            },

                            complete: function () {
                                // ao final da requisição...
                                $("#carregando").hide();
                            }


                        });


                    });




                    $(document).ready(function () {
                        $('#IdFilialBusca').change(function () {
                            var idFilial = $('#IdFilialBusca').val();

                            if (idFilial !== this.IdFilial) {

                                $.ajax({
                                    url: '/SiteGestaoS/LocaEquipamentoes/ObterSala/',
                                    type: "GET",
                                    dataType: "json",
                                    data: {
                                        idFilial: idFilial
                                    },
                                    success: function (data) {

                                        if (data.length > 0) {

                                           
                                            for (var i = 0; i < data.length; i++) {

                                                $('#IdSalaBusca').empty();
                                                // $('#IdSalaBusca').append('<option value="' + data[i].id + '">' + data[i].nome + '</option>');

                                                $("#IdSalaBusca").append('<option value=0>Selecione uma Sala</option>');
                                                $(data).each(function () {
                                                    $("#IdSalaBusca").append($('<option></option>', { value: this.id }).html(this.nome));
                                                });

                                            }

                                            console.log('Davis' + data[0].ID);

                                        }
                                    },


                                    error: function (data) {
                                        // em caso de erro...
                                        console.log(error);
                                    },

                                    complete: function () {
                                        // ao final da requisição...
                                        $("#carregando").hide();
                                    }


                                });
                            }

                        });
                    });
                    /////////////////////////////////////


                    $('#DataLocacao').datepicker({

                        format: 'dd/mm/yyyy',
                        ////dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                        dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                        ////dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                        ////monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                        ////monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        language: "pt-BR",
                        startDate: '+0',
                    });

                    //$("#DataLocacao").change(function () {
                        
                    //    var newDate = $("#DataLocacao").datepicker().val(); //{ dateFormat: 'dd,MM,yyyy' }
                    //    console.log('Data selecionada: ', newDate);
                        
                    //    $.ajax({
                    //        url: '/SiteGestaoS/LocaSalas/DataLocacaoSalaEdit/',
                    //        type: "GET",
                    //        dataType: "json",
                    //        data: {
                    //            idLocacaoEdit: id,
                    //            DataLocacao: newDate
                    //        },
                    //        success: function (data) {

                    //            if (data.length > 0) {
                                    

                    //                var Disponivel = data[0].DATA_DISPONIVEL



                    //                var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                    //                alert('A próxima data que esta sala estará liberada é: ' + dataL[0]);

                                    
                    //            }
                    //        },


                    //        error: function (data) {
                    //            // em caso de erro...
                    //            console.log(error);
                    //        },

                    //        complete: function () {
                    //            // ao final da requisição...
                    //            $("#carregando").hide();
                    //        }


                    //    });

                        $(document).ready(function () {
                            $('#IdSalaBusca').change(function () {

                                var IdSala = $('#IdSalaBusca').val();
                                $('#DataLocacao').change(function () {

                                    var DtLocacao = $('#DataLocacao').val();

                                    console.log(IdSala);
                                    console.log(DtLocacao);
                                    if (IdSala > 0) {

                                        $.ajax({
                                            url: '/SiteGestaoS/LocaSalas/DataLocacaoSala/',
                                            type: "GET",
                                            dataType: "json",
                                            data: {
                                                idSalaData: IdSala,
                                                DataLocacao: DtLocacao
                                            },
                                            success: function (data) {


                                                if (data.length > 0) {
                                                    console.log(data[0].DATA_DISPONIVEL);

                                                    var Disponivel = data[0].DATA_DISPONIVEL


                                                    var dataL = new Date(Disponivel).toLocaleString('pt-BR').split(' ');
                                                    alert('A próxima data que esta sala estará liberada é: ' + dataL[0]);
                                                                                      


                                                    




                                                }


                                            },


                                            error: function (data) {
                                                // em caso de erro...
                                                console.log(error);
                                            },

                                            complete: function () {
                                                // ao final da requisição...
                                                $("#carregando").hide();
                                            }


                                        });
                                    }

                                });
                            });


















                       
                    });
                    $('#DataFim').datepicker({

                        format: 'dd/mm/yyyy',
                        //dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                        dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                        //dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                        //monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                        //monthNamesShort ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        language: "pt-BR",
                        startDate: '+0'
                    });

                });        
                                       
    
                    
               
            });
        });





    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            console.log("Iniciou");
            $(".btnDelete").click(function () {

                var id = $(this).data("value");

                console.log(id);

                $('#ConteudoModal').load('/SiteGestaoS/LocaSalas/Delete/' + id, function () {

                    $('#ExemploModalCentralizado').modal();



                });
            });
        });

    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#tabela').dataTable({

                "bJQueryUI": true,
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                }

            });
        });


    </script>

    <script>

        $(function () {
            if('@TempData["msg"]' != "") {
                $('#myModal').modal('show');
            }
        });

    </script>
}